@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
/* CSS RESET */
*, *::before *::after{
    box-sizing:border-box;
}
* {
    margin: 0;
}
html, body {
    padding: 0;
    height: 100%;
    width: 100%;
}
input, textarea, select {
    font: inherit;
}
/* STYLE START */
:root {
    --background: #000;
    --foreground: #fff;
    --accent-one: #d6d6d6;
}
::selection{
    color: var(--background);
    background-color: var(--foreground);
}
/* IDs */
#main{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Old Standard TT', serif;
}
#topBar{
    width: min(80%, 1000px);
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: 32% 2% 32% 2% 32%;
    grid-template-areas: "first fDivider second sDivider third";
}
#topBar a{
    color: var(--foreground);
}
#firstDivider{
    grid-area: fDivider;
    user-select: none;
}
#secondDivider{
    grid-area: sDivider;
    user-select: none;
}
#clockContainer{
    user-select: none;
}
#quoteContainer{
    user-select: none;
}
#image{
    aspect-ratio: 4/1;
    width: min(80%, 1000px);
    border: 5px double var(--accent-one);
    object-fit: cover;
}
#linkContainer{
    width: min(80%, 1000px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
#linkContainer a{
    color: var(--foreground);
    text-decoration: none;
}
#linkContainer a:hover{
    text-decoration: underline;
}
#searchbarContainer{
    width: min(80%, 1000px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#searchbarDecoration{
    width: 2%;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
    color: var(--accent-one);
    border-bottom: 2px solid var(--accent-one);
    user-select: none;
}
#searchbar{
    width: 98%;
    height: 20px;
    border: none;
    border-bottom: 2px solid var(--accent-one);
    background-color: var(--background);
    color: var(--foreground);
}
#searchbar:focus{
    outline: none;
}
#errorMessage{
    color: var(--foreground);
    width: min(80%, 1000px);
    height: 16px;
    margin-top: 10px;
}
#errorMessage a{
    color: var(--foreground);
}
#popupWindow{
    position: absolute;
    left: calc(10% - 20px);
    top: calc(10% - 20px);
    display: grid;
    grid-template-rows: 20px 1fr 40px;
    gap: 5px;
    width: 80%;
    height: 80%;
    background-color: var(--background);
    color: var(--foreground);
    border: 5px double var(--accent-one);
    padding: 20px;
}
#popupWindow textarea{
    background-color: var(--background);
    color: var(--foreground);
    border-color: var(--accent-one);
}
#popupWindow textarea:focus{
    outline: none;
}
#popupWindow input[type="button"]{
    background-color: var(--foreground);
    color: var(--background);
    border: none;
    cursor: pointer;
}
#popupWindow input[type="button"]:active{
    color: var(--foreground);
    background-color: var(--background);
    border: 2px solid var(--foreground);
}
#frame{
    pointer-events: none;
    position: absolute;
    width: min(90%, 1250px);
    height: max(70%, 400px);
}
/* Classes */
.corner {
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url(Assets/corner.svg);
    mask-image: url(Assets/corner.svg);
    background-color: var(--foreground); 
    height: 10%;
    aspect-ratio: 1/1;
}
.corner:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
}
.corner:nth-child(2){
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    right: 0;
}
.corner:nth-child(3){
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    right: 0;
}
.corner:nth-child(4){
    transform: rotate(270deg);
    position: absolute;
    bottom: 0;
    left: 0;
}
.topFirst{
    grid-area: first;
}
.topSecond{
    grid-area: second;
}
.topThird{
    grid-area: third;
}
.hidden{
    display: none !important;
}